<footer>
  <div class="container-fluid btm-color footer">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h5>Catalogs</h5>
        <ul style="list-style-type: none; padding:0; margin:0;">
          <li>
            <a href="http://www.4logowearables.com/cgi-bin/hw/phwPseudo_Submit.w?hwCN=197208212203201210201214205199187201198215205216201&hwCNCD=mlSalOGjEeaiffNu">
              Clothing Catalog 1
            </a>
          </li>
          <li>
            <a href="http://www.brandbookonline.com/cgi-bin/brand/site.w?catalog=top&sponsor=000004&frames=no&target=main">
              Clothing Catalog 2
            </a>
          </li>
          <li>
            <a href="http://www.keystoneline.com/index.php">
              Promotional Items
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 text-center" style="margin:15px 0;">
        <%= link_to(image_tag('https://i.imgur.com/twpBmE5.png', width: '75px'), root_path)%>
        <p>
          Custom Printed Shirts &amp; Promotional Items
        </p>
        <h5>Connect Online</h5>
        <div class="social-icons">
          <a href="#" title="Pinterest" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-pinterest-p fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" title="Facebook" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" title="Twitter" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" title="Google+" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
          </a>
          <a href="#" title="Instagram" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
