<div class="heading-container ">
				<div class="container heading-standar">
					<div class="heading-wrap">
						<div class="page-breadcrumb clearfix">
							<div class="pull-left">
								<ul class="breadcrumb">
									<li>
										<a href="#" class="home"><span>Home</span></a>
									</li>
									<li><span>Contact 2</span></li>
								</ul>
							</div>
							<div class="heading-info pull-right">
								<em>Call us</em>&nbsp;&nbsp;
								<i class="fa fa-phone"></i>&nbsp;305-451-1200&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
						</div>
						<div class="page-title">
							<h1>Located in the Fabulous Florida Keys</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="content-container no-padding">
				<div class="container-full">
					<div class="row">
						<div class="col-md-12 main-wrap">
							<div class="main-content">
								<div class="row row-custom-padding section-contact">
									<div class="column col-md-12">
                    <div class="container">
											<div class="row">
												<div class="column col-md-12">
													<div class="title">LEARN MORE</div>
													<h2 class="text-center">ABOUT US</h2>
													<div class="separator separator-align-center separator-border-2">
														<span class="separator-left">
															<span class="separator-line"></span>
														</span>
														<span class="separator-right">
															<span class="separator-line"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
                    <div class="container">
                      We are not your typical tattoo shop! Once you walk through our doors you will have an experience like no other. South of Heaven Tattoo has a back drop of the beautiful Florida Keys. This High end Tattoo Studio is like no other. Catering to Miami's A-list and those who want a customized tattoo in a relaxing fun atmosphere. We are committed to providing the ultimate in Skin Art. Our Artists take Tattooing serious and start each session with a consultation. Each Tattoo is treated as a piece of art and with you as the canvas we can create a master piece that will be enjoyed by you for years to come.  We are family owned with family values and take pride in our artistic ability and want you to enjoy the experience. We have provided a beautiful Gallery setting, comfortable seating with music or cable entertainment and would hope that you and your family come and visit our family for your next piece of art.
                    </div>
										<div class="container">
											<div class="row">
												<div class="column col-md-12">
													<div class="title">FIND US</div>
													<h2 class="text-center">OUR OFFICE</h2>
													<div class="separator separator-align-center separator-border-2">
														<span class="separator-left">
															<span class="separator-line"></span>
														</span>
														<span class="separator-right">
															<span class="separator-line"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="container">
											<div class="row row-custom-padding">
												<div class="column col-md-6 col-sm-6">
													<div class="iconbox iconbox-pos-left contact-iconbox">
														<div class="iconbox-icon icon-color-default icon-size-default">
															<i class="el-appear fa fa-phone"></i>
														</div>
														<div class="iconbox-content">
															<h3 class="el-heading">Phone</h3>
															<p>(305) 451-1200</p>
														</div>
													</div>
												</div>
												<div class="column col-md-6 col-sm-6">
													<div class="iconbox iconbox-pos-left contact-iconbox">
														<div class="iconbox-icon icon-color-default icon-size-default">
															<i class="el-appear fa fa-map-marker"></i>
														</div>
														<div class="iconbox-content">
															<h3 class="el-heading">Address</h3>
															<p>The Pink Plaza, 103400 Overseas Hwy #104, Key Largo, FL 33037</p>
														</div>
													</div>
												</div>
												<!-- <div class="column col-md-4 col-sm-4">
													<div class="iconbox iconbox-pos-left contact-iconbox">
														<div class="iconbox-icon icon-color-default icon-size-default">
															<i class="el-appear fa fa-envelope-o"></i>
														</div>
														<div class="iconbox-content">
															<h3 class="el-heading">Email</h3>
															<p><a href="mailto:sohink1@yahoo.com">sohink1@yahoo.com</a></p>
														</div>
													</div>
												</div> -->
											</div>

										</div>
										<div class="row">
											<div class="column col-md-12">
												<div data-toggle="gmap" class="google-map">
													<div class="gmap" data-greyscale="1" data-markers="[{&quot;latitude&quot;:25.136079,&quot;longitude&quot;:-80.404525,&quot;info&quot;:&quot;Come visit us at our location&quot;}]" data-enable-zoom="0" data-zoom="16" data-center-latitude="25.135884" data-center-longitude="-80.404332" data-marker-icon="https://sitesao.com/airslice/wp-content/uploads/2015/01/black-marker.png"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
