<div class="row row-custom-padding section-home2-3">
	<div class="column col-md-12">
		<div class="container">
			<div class="row">
				<div class="column col-md-12">
					<div class="animate-box animated bounceInUp linear" data-animate="1">
						<div class="cta cta-style-square text-left cta-btn-right">
							<div class="cta-heading">
								<div class="cta-hgroup">
									<h3>Skip the line.</h3>
									<h4>Fill out our forms ahead of time.</h4>
								</div>
							</div>
							<div class="cta-btn">
									<a class="btn btn-white btn-icon-left btn-uppercase btn-lg btn-style-square" data-toggle="modal" data-target="#tattooModal">

									<span>Tattoo Form</span>
									<i class="fa fa-long-arrow-right"></i>
								</a>
								<hr>
								<a class="btn btn-white btn-icon-left btn-uppercase btn-lg btn-style-square" data-toggle="modal" data-target="#piercingModal">
									<span>Piercing Form</span>
									<i class="fa fa-long-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Piercing Modal -->
<div class="modal fade" id="piercingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Piercing Waiver</h4>
      </div>
      <div class="modal-body">
        <%= render "pages/piercing", :locals => {:piercing => Piercing.new} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Tattoo Modal -->
<div class="modal fade" id="tattooModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tattoo Waiver</h4>
      </div>
      <div class="modal-body">
        <%= render "pages/tattoo", :locals => {:piercing => Piercing.new}  %>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
