<script type="text/javascript" src="/js/instafeed.js"></script>

<!-- START MAIN CONTENT -->

<div class="content-container no-padding">
				<div class="container-full">
					<div class="row">
						<div class="col-md-12 main-wrap">
							<div class="main-content">
								<div class="row">
									<div class="column col-md-12">
										<div id="dhslider" data-autorun="no" data-duration="6000" class="carousel slide fade dhslider dhslider-fullscreen" data-height="560">
											<div class="dhslider-loader">
												<div class="fade-loading">
													<i></i><i></i><i></i><i></i>
												</div>
											</div>
											<div class="carousel-inner dhslider-wrap">
												<div class="item slider-item active">
													<div class="slide-bg slide-bg-1"></div>
													<div class="slider-overlay"></div>
													<div class="slider-caption caption-align-left">
														<div class="slider-caption-wrap parallax-content">
															<h2 class="slider-heading-text">Welcome to South of Heaven</h2>
															<div class="slider-caption-text">
																We have created an atmosphere unlike any other tattoo shop. See why our fans love us.
															</div>
															<div class="slider-buttons">
																<a href="#" class="btn btn-lg btn-primary btn-style-solid">Our Work</a>
																<a href="#" class="btn btn-lg btn-white btn-style-outlined">Call Us</a>
															</div>
														</div>
													</div>
												</div>
												<div class="item slider-item">
													<div class="slide-bg slide-bg-2">
														<div class="video-embed-wrap">
															<video autoplay="autoplay" muted="muted" poster="images/slideshow/drops.png" width="1800" height="700" class="slider-video">
																<source type="video/mp4" src="http://sitesao.com/airslice/wp-content/uploads/2014/10/drops.mp4"/>
															</video>
														</div>
													</div>
													<div class="slider-overlay"></div>
													<div class="slider-caption caption-align-center">
														<div class="slider-caption-wrap parallax-content">
															<h2 class="slider-heading-text">World Reknowned Artistry</h2>
															<div class="slider-caption-text">
																We serve clients all over the world. See why others go the distance for our work.
															</div>
															<div class="slider-buttons">
																<a href="#" class="btn btn-lg btn-white btn-style-outlined">Our Artists</a>
															</div>
														</div>
													</div>
												</div>
												<div class="item slider-item">
													<div class="slide-bg slide-bg-3"></div>
													<div class="slider-overlay"></div>
													<div class="slider-caption caption-align-right">
														<div class="slider-caption-wrap parallax-content">
															<h2 class="slider-heading-text">Check us Out</h2>
															<div class="slider-caption-text">
																Give us a call, check our blog out and see what were all about.
															</div>
															<div class="slider-buttons">
																<a href="#" class="btn btn-lg btn-success btn-style-solid">Our Blog</a>
																<a href="#" class="btn btn-lg btn-white btn-style-outlined">Contact Us</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<ol class="carousel-indicators parallax-content">
												<li data-target="#dhslider" data-slide-to="0" class="active"></li>
												<li data-target="#dhslider" data-slide-to="1"></li>
												<li data-target="#dhslider" data-slide-to="2"></li>
											</ol>
											<a class="left carousel-control parallax-content" href="#dhslider" role="button" data-slide="prev">
												<i class="fa fa-angle-left carousel-icon-prev"></i>
											</a>
											<a class="right carousel-control parallax-content" href="#dhslider" role="button" data-slide="next">
												<i class="fa fa-angle-right carousel-icon-next"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="row row-custom-padding section-home2-2">
									<div class="column col-md-12">
										<div class="row">
											<div class="column col-md-12">
												<div class="title">Follow Us on Instagram</div>
												<h2 class="text-center">southofheaventattoo</h2>
												<br> <h2 class="text-center"><a class="btn btn-lg btn-black btn-style-outlined" href="https://instagram.com/southofheaventattoo/"><i class="fa fa-instagram"></i></a></h2>
												<div class="separator separator-align-center separator-border-2">
													<span class="separator-left">
														<span class="separator-line"></span>
													</span>
													<span class="separator-right">
														<span class="separator-line"></span>
													</span>
												</div>
											</div>
										</div>




													<div id="instafeed" data-url="southofheaventattoo" class="portfolio-wrap masonry-wrap portfolio-layout-masonry row">

													</div>





										<!-- <div class="row row-custom-padding">
											<div class="column col-md-12">
												<div class="portfolio portfolio-style-one masonry no-gap" data-paginate="no" data-layout="masonry" data-masonry-column="4">
													<div class="portfolio-wrap masonry-wrap portfolio-layout-masonry row">
														<article data-accent-color="#57bb8a" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured">
																		<img width="500" height="500" src="images/gallery/g1_thumb.jpg" alt="P1"/>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="images/gallery/g1.jpg" title="P1" data-rel="magnific-single-popup">
																			<i class="fa fa-search"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Lectus rutrum">
																				Lectus rutrum
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			September 3, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
														<article data-accent-color="#5788bb" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured">
																		<img width="500" height="500" src="images/gallery/g3_thumb.jpg" alt="P3"/>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="images/gallery/g3.jpg" title="P3" data-rel="magnific-single-popup">
																			<i class="fa fa-search"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Sed consequa">
																				Sed consequa
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			September 3, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
														<article data-accent-color="#bb5857" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured">
																		<img width="500" height="500" src="images/gallery/g4_thumb.jpg" alt="P4"/>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="images/gallery/g4.jpg" title="P4" data-rel="magnific-single-popup">
																			<i class="fa fa-search"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Iaculis nulla">
																				Iaculis nulla
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			September 3, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
														<article data-accent-color="#8a57bb" id="portfolio-2131" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured">
																		<img width="500" height="500" src="images/gallery/g6_thumb.jpg" alt="P6"/>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="images/gallery/g6.jpg" title="P6" data-rel="magnific-single-popup">
																			<i class="fa fa-search"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Phasellus congue">
																				Phasellus congue
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			September 3, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
														<article data-accent-color="#dd9933" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured">
																		<img width="500" height="500" src="images/gallery/g7_thumb.jpg" alt="P7"/>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="images/gallery/g7.jpg" title="P7" data-rel="magnific-single-popup">
																			<i class="fa fa-search"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Fermentum dignissim">
																				Fermentum dignissim
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			September 3, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
														<article data-accent-color="#3688bb" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured">
																		<img width="500" height="500" src="images/gallery/g9_thumb.jpg" alt="P9"/>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="images/gallery/g9.jpg" title="P9" data-rel="magnific-single-popup">
																			<i class="fa fa-search"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Blandit elementum">
																				Blandit elementum
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			September 3, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
														<article data-accent-color="#76a53c" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured video-featured">
																		<div id="embed-video" class="embed-wrap mfp-hide">
																			<iframe src="//player.vimeo.com/video/1084537" width="1200" height="675" title="Big Buck Bunny" allowfullscreen></iframe>
																		</div>
																		<div class="video-poster">
																			<img alt="Fusce cursus" src="images/gallery/gthumb.jpg">
																		</div>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="#embed-video" data-rel="magnific-portfolio-video">
																			<i class="fa fa-play"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Fusce cursus">
																				Fusce cursus
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			August 29, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
														<article data-accent-color="#d8b227" class="portfolio-item masonry-item col-md-3 col-sm-6">
															<div class="portfolio-item-wrap">
																<div class="portfolio-featured-wrap">
																	<div class="portfolio-featured">
																		<img width="500" height="500" src="images/gallery/g12_thumb.jpg" alt="P12"/>
																	</div>
																	<div class="portfolio-action">
																		<a class="zoom-action" href="images/gallery/g12.jpg" title="P12" data-rel="magnific-single-popup">
																			<i class="fa fa-search"></i>
																		</a>
																		<a class="view-action" href="#">
																			<i class="fa fa-link"></i>
																		</a>
																	</div>
																	<div class="portfolio-overlay"></div>
																</div>
																<div class="portfolio-caption">
																	<div class="portfolio-caption-wrap">
																		<h2 class="portfolio-title">
																			<a href="#" title="Duis dapibus">
																				Duis dapibus
																			</a>
																		</h2>
																		<div class="portfolio-meta">
																			August 28, 2014
																		</div>
																	</div>
																</div>
															</div>
														</article>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div> -->
								<div class="row row-custom-padding section-home2-3">
									<div class="column col-md-12">
										<div class="container">
											<div class="row">
												<div class="column col-md-12">
													<div class="animate-box animated bounceInUp linear" data-animate="1">
														<div class="cta cta-style-square text-left cta-btn-right">
															<div class="cta-heading">
																<div class="cta-hgroup">
																	<h3>Curious? Take a peek inside our studio!</h3>
																	<h4>Check out our live feed.</h4>
																</div>
															</div>
															<div class="cta-btn">
																<a class="btn btn-white btn-icon-left btn-uppercase btn-lg btn-style-square btn-effect-icon-slide-in btn-align-left" href="http://ax9677.myfoscam.org:8081/videostream.cgi?user=guest&pwd=">
																	<span>View Feed</span>
																	<i class="fa fa-long-arrow-right"></i>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row row-custom-padding section-home2-1">
									<div class="column col-md-12">
										<div class="container">
											<div class="row">
												<div class="column col-md-4 col-sm-4">
													<div class="animate-box animated fadeInUpBig linear" data-animate="1">
														<div class="iconbox iconbox-pos-top iconbox-bg">
															<div class="iconbox-icon icon-color-primary icon-size-lg">
																<i class="el-appear fa fa-thumbs-o-up"></i>
															</div>
															<div class="iconbox-content">
																<h3 class="el-heading">Unbeatable Artists</h3>
																<p>
																	A tattoo shop is as only as good as its Artists. Thats why South of Heaven wins, with a team of incredibly talented Artists. <br>
																	<a href="/artists" class="btn btn-lg btn-primary btn-style-solid">Our Artists</a>
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="column col-md-4 col-sm-4">
													<div class="animate-box animated fadeInUpBig linear" data-animate="1">
														<div class="iconbox iconbox-pos-top iconbox-bg">
															<div class="iconbox-icon icon-color-primary icon-size-lg">
																<i class="el-appear fa fa-sun-o"></i>
															</div>
															<div class="iconbox-content">
																<h3 class="el-heading">Amazing Location</h3>
																<p>
																	The beautiful Florida Keys are truly a unique and worthwhile experience. People come from all over the world to spend their vacations here. <br>
																	<a href="http://keysnews.com/" class="btn btn-lg btn-primary btn-style-solid">See the Keys</a>
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="column col-md-4 col-sm-4">
													<div class="animate-box animated fadeInUpBig linear" data-animate="1">
														<div class="iconbox iconbox-pos-top iconbox-bg">
															<div class="iconbox-icon icon-color-primary icon-size-lg">
																<i class="el-appear fa fa-smile-o"></i>
															</div>
															<div class="iconbox-content">
																<h3 class="el-heading">Satisfied Customers</h3>
																<p>
																	We receive many repeat clients who come back because of the dedication and skill of our Artists. From the opening consultation to clean-up we take care of you: Our Customer!<br>
																	<a href="https://plus.google.com/113841781536523543519/about" class="btn btn-lg btn-primary btn-style-solid">Our Reviews</a>
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- END MAIN CONTENT -->
